<footer id="footer" class="content black-bg">
	<ul class="footer-icon">
		<li><a href="https://www.facebook.com/Murerfirmaet-Bjørklund-Eskildsen-ApS-737412376416604"><i class="fa fa-facebook"></i></a></li>
		<!--
		<li><a href="https://www.linkedin.com/company/9259756"><i class="fa fa-linkedin"></i></a></li>
		<li>
			<a href="https://www.houzz.dk/pro/lars37/malerfirmaet-eskildsen" class="white" title="Se vores profil på www.houzz.dk" style="background-color:white;">
				<img src="https://st.hzcdn.com/static_da-DK/badge36_36_gs@2x.png" alt="Houzz logo" width="36" height="36" border="0"/>
			</a>
		</li>
		-->
		<!--
		<li><a href="#"><i class="fa fa-vk"></i></a></li>
		<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
		<li><a href="https://twitter.com/recph"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-youtube"></i></a></li>
		<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#"><i class="fa fa-xing"></i></a></li>
		<li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
  	</ul><!--/.team-icon-->
  	<div class="spacing40"></div>
	<div class="container align-center">
		<p>{{ site.company_name }} - {{ site.address_line1 }}, {{ site.address_line2 }} - Tlf. {{ site.phone }} - CVR. {{ site.cvr }}</p>
	<!-- <div class="spacing20"></div> -->
	</div><!--/.container-->
</footer><!--/footer-->